#leaderboard {
    width: 500px;
    margin:auto;
    margin-top:75px;
}

#choices-bar {
    margin-top: 0px;
}

#menu-bar {
    margin-bottom: 0px;
}

.game_background {
    text-align: center;
}

.game_background img {
    max-width: fill;
    position: relative;
}

#easy-mode {
    margin: 0px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: rgb(18,20,21);
    width:fill;
}
#medium-mode {
    margin: 0px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: rgb(35,29,32);
    width:fill;
}
#hard-mode {
    margin: 0px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: rgb(8,8,8);
    width:fill;
}