#leaderboard {
    width: 500px;
    margin:auto;
    margin-top:75px;
}

#login {
    width: 500px;
    margin:auto;
    margin-top:75px;
}

#answer {
    width: 500px;
    margin:auto;
    margin-top:10px;
}

#start {
    width: 500px;
    margin:auto;
    margin-top:10px;
}

#choices-bar {
    margin-top: 0px;
}

#menu-bar {
    margin-bottom: 0px;
}

.game_background {
    text-align: center;
}

.game_background img {
    max-width: 100%;
    position: relative;
}

img {
    opacity: 50%;
}

#easy-mode {
    margin: 0px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: #1D2021;
    width:100%;
}
#medium-mode {
    margin: 0px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: rgb(35,29,32);
    width:100%;
}
#hard-mode {
    margin: 0px;
    padding-top:40px;
    padding-bottom:40px;
    background-color: #101010;
    width:100%;
}

.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
    max-width: 100%;
    text-align: center;
    
 }

 h2 { 
  position: absolute; 
  top: 300px; 
  left: 0; 
  width: 100%; 
}

@import url('https://fonts.googleapis.com/css?family=Audiowide|Monoton|Quantico:700');


h2 span { 
   color: white; 
   /* font: bold 24px/45px Helvetica, Sans-Serif;  */
   font-family: 'Audiowide';
   letter-spacing: -1px;
   line-height: 215%;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.4);
   padding: 10px; 
}

@import url('https://fonts.googleapis.com/css?family=Audiowide|Monoton|Quantico:700');

header { 
    /* color: white;  */
     /* font: bold 24px/45px Helvetica, Sans-Serif;  */
     font-family: 'Audiowide';
     font-size: 50px;
     font-weight: bold;
     letter-spacing: -1px;  
     /* background: rgb(0, 0, 0); /* fallback color */
     /* background: rgba(0, 0, 0, 0.4); */ 
     padding: 10px;
     text-align: center;
     margin-top: 15px;
     margin-bottom: 15px;
     text-shadow: -3px -3px #706d68;
  }

 .ui-inverted-segment {
    width: 30px
 }
